<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Discover Bangladesh </title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <script src="https://kit.fontawesome.com/78aab7e836.js" crossorigin="anonymous"></script>
</head>
<body>

 <!-- FIRST SECTION -->

<section class="landing fanim">
    <header>
        <nav class="nav">
            <i class="fas fa-bars"></i>
            <span class="nav__span"> <a href="#">About Tours</a>
                <a href="login">Photos</a>
                <a href="#">Guides</a>
                <a href="#">Reviews</a>
                <a href="cus_table">About US</a>
            </span>


            <span class="button"> 
                
            <!-- <a href="#"> -->
                    
            <button onclick="showoptions()" class="lang-btn">
                
            <i class="fas fa-globe-americas"></i>
            <p> Eng</p>
            <i class="fas fa-sort-down"></i>
             </button>
            <!-- </a> -->
            </span>
        </nav>
        </div>
    </header>

<div class="landing-field">
<div class="landing-content">
  <h1 class="discover-all"> <span class="discover-text">Discover</span>  <span class="bangladesh-text">Bangladesh</span></h1>
  <h3 class="must-text">Another Kind of "Must See"</h3>
   <a href="booking"><button class="buy-btn">Buy Tour with best Services</button></a>
   <div class="sl-btns">
       <a href="signup"><button>SignUp</button></a>
       <a href="login"><button>Log In </button></a>
   </div>
</div>
</div>
</section>


<!-- SECOND SECTION -->

<section class="second-section secanime">
    <div class="secondsec-parentdiv">
        <div class="about-pic">
            <img  class="city-pic-img" src="{%static 'img/citypic.jpg'%}" alt="">
        </div>
        <div>
            <div  id="about-us-text-field"><h1>About Tour</h1>
                <p>Those who come to this place usually find 3 things that catches their eyes and blows mind. Vibrant colours, mindfullness, catchy architecture.
                    This city is filled with these lively architectures all around. Without just roaming around,  feel the breeze within city folks. Taste and experience what it feels like to be in a city where everything makes you energised for more to live.
                    Ready your camera, put on some vibrant comfortable footware and plan the tour.
                    
                    Tour guide & author
                    Aditya Kushal Orion</p></div>

         
<div id="tour-guide">
    <p>Tour Guide & Author</p>
         <p>Aditya Kushal Orion</p>
    <a href=""><button  class="book-btn">Book A Tour <i class="fas fa-play"></i></button></a>

   </div>
</div>
        <div class="last-of-secsection">


            
        </div>
    </div>

    
</section>




<!-- THIRD SECTION -->




<section class="third-section thirdanime">

    <h1 class="imersion-headtxt">Photo Imersion</h1>

<div class="imersion-grid">

    

<div class="imersio-p-div"><img src="{%static 'img/bd1.jpg'%}" alt=""></div>


<div class="imersio-p-div"><img src="{%static 'img/bd2.jpg'%}" alt=""></div>


<div class="imersio-p-div"><img src="{%static 'img/bd3.jpg'%}" alt=""></div>


<div class="imersio-p-div"><img src="{%static 'img/bd4.jpg'%}" alt=""></div>

<div class="imersio-p-div"><img src="{%static 'img/bd5.jpg'%}" alt=""></div>


<div class="imersio-p-div"><img src="{%static 'img/bd6.jpg'%}" alt=""></div>

<div class="imersio-p-div">
    <img src="{%static 'img/bd7.jpg'%}" alt=""></div>

<div class="imersio-p-div"><img src="{%static 'img/bd8.jpg'%}" alt=""></div>
</div>
</section>


<section class="fourth-section anime-of-fourth">
   <div class="our-guide-text">
    <h1>Our Guides</h1>
   </div>
 <div  class="guide-mdiv" >

 <div class="guide-pics">
     <div class="guide-pic3">
         <div class="person-pic-1st">
             <img src="{%static 'img/orion.jpg'%}" alt="">
             <h3>Orion Aditya Kushal <br> Backend Contributor & UI Designer
         </div>
         <div class="person-pic-1st">
             <img src="{%static 'img/raihan.jpg'%}" alt="">
             <h3> Raihan Ahmed Rony <br>Backend Contributor</h3>

         </div>
         <div class="person-pic-1st">
             <img src="{%static 'img/muna.jpg'%}" alt="">
             <h3>Mohotina Khanom <br> Overall Contributor </h3>


         </div>
     </div>
     
     <div class="guide-pic2">
         <div class="person-pic-2">
             <img src="{%static 'img/mezbah.jpg'%}" alt="">
             <h3> Mezbah Ahmed Mahedi <br>Fronted Contributor</h3>

         </div>
         <div class="person-pic-2">
             <img src="{%static 'img/rifat.jpg'%}" alt="">
             <h3> Arafat Rifat <br> Fronted Contributor</h3>


         </div>

     </div>


 </div>

 </div>


</section>

<!-- Fifth Section -->


<section class="fifth-section">

    <h2> What Our Clients Saying...</h2>

    <div class="client-mdiv">

   <div class="client">
    <div class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
    <p>
        It was an interesting journey with them! Really interesting tours!! Would definitely choose them again!! Thanks.
        </p>
    <div class="client-info"><img src="{%static 'img/random2.jpg'%}" alt="">
        <h1>Andrew Berand</h1></div>

   </div>


   <div class="client client2">
   <div class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
    <p>I had the most satisfying experience going to our destination with them. They really take care of things so well.
        
        </p>
    <div class="client-info"><img src="{%static 'img/random1.jpg'%}" alt="">
        <h1>Andrew Berand</h1></div>
   </div>
</div>
</section>

<section class="sixth-section">

   <div class="about-us-text">
    <h1>About Us</h1>
   </div>


<div class="about-us">
    <div class="our-mission">
        <h1> Our Mission</h1>
        <p>Our priority is to create comfortable traveling conditions at competitive prices with minimum effect on your part.
            We are in love with Bangladesh and we want you to see our country though our eyes; these endless green fields, eye gazing huge cliffs by the ocean, old gothic castles, lakes and waterfalls.
             We want you to feels it’s amazing rich history and majestric beauty of nature.</p>
        <a href=""> <button> LEARN MORE </button></a>


    </div>
   <div class="our-mission-pic">
       <img src="{%static 'img/bd1.jpg'%}" alt="">



   </div>



</div>

</section>


<footer>

<div class="icons">

<div class="icon">
<i class=" iicon fas fa-city"></i>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</div>

<div class="icon">
 <i class="iicon far fa-calendar"></i>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</div>

<div class="icon">
 <i class="iicon fas fa-book"></i>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</div>

<div class="icon">
<i class="iicon fas fa-place-of-worship"></i>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</div>

</div>
</footer>


<script src="app.js"></script>
</body>
</html>